<div class="container my-3">
    <div class="row">
        <%
            products.map(pro=>{%>
                <div class="col-sm-6 col-md-4">
                    <div class="product-card">
                        <div class="img">
                            <img src="<%=pro.imageSrc %>" alt=""  >
                        </div>
                        <div class="content">
                            <h1><%= pro.name %></h1>
                            <h1 style="font-size:15px;"><%= pro.price %></h1>
                            <a href="/cart/add/<%= pro._id %>" class="btn btn-info">Add to cart</a>
                        </div>
                    </div>
                </div>  
            <%})
        %>
     
    </div>
</div>